<ion-toolbar id="top-toolbar">
  <ion-buttons left>
    <button icon-only ion-button (click)="goback()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <button *ngFor="let colour of availableColours" icon-only ion-button (click)="changeColour(colour)">
      <ion-icon [style.color]="colour" name="brush"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons right>
    <button style="border: 1px solid #cecece;" ion-button icon-only style.color="#fff" (click)="changeColour('#fff')">
      <ion-icon style="color: #fff;" name="square"></ion-icon>
    </button>
    <button style="border: 1px solid #cecece;" ion-button icon-only (click)="doRadio()">
      <ion-icon name="albums"></ion-icon>
    </button>
    <button style="border: 1px solid #cecece;" ion-button icon-only (click)="share()">
      <ion-icon name="share"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
<ion-img #chicken src="https://firebasestorage.googleapis.com/v0/b/ccda-bd25f.appspot.com/o/tracing%2FBarn.gif?alt=media&token=a22f2c58-b271-4251-a16b-e8c4455ecb09"></ion-img>
<canvas #myCanvas
        (mousedown)="handleStart($event)"
        (drag)="handleMove($event)"
        (touchstart)="handleStart($event)"
        (touchmove)="handleMove($event)"
        (touchend)="convert2Img()">
</canvas>

<ion-toolbar id="bottom-toolbar">
  <ion-buttons left>
    <button color="dark" ion-button icon-only (click)="clearCanvas()"><ion-icon name="trash"></ion-icon></button>
  </ion-buttons>
  <ion-buttons right>
    <button color="dark" ion-button icon-only (click)="changeSize(5)"><ion-icon style="font-size: 0.25em;" name="radio-button-on"></ion-icon></button>
    <button color="dark" ion-button icon-only (click)="changeSize(10)"><ion-icon style="font-size: 0.5em;" name="radio-button-on"></ion-icon></button>
    <button color="dark" ion-button icon-only (click)="changeSize(20)"><ion-icon style="font-size: 1em;" name="radio-button-on"></ion-icon></button>
    <button color="dark" ion-button icon-only (click)="changeSize(50)"><ion-icon style="font-size: 2em;" name="radio-button-on"></ion-icon></button>
    <button color="dark" ion-button icon-only (click)="changeSize(200)"><ion-icon style="font-size: 3em;" name="radio-button-on"></ion-icon></button>
  </ion-buttons>
</ion-toolbar>
